<html>
        <style>
            .my_image{
                background-image: url('../static/aws.png');
                background-color: #cccccc ;
                height: 700px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
        </style>
        <body>
        <div class="my_image">
        <h1 style="font-size: 50px;"> Key cannot be created as {{n}} is already been present!!! </h1>
        <ul style="list-style-type:none;">
            <li><a href="{{ url_for('home') }}">Back</a></li>
        </ul>
        </div>
        </body>
</html>
